<app-header />
<div class="post-list">
  @if (loading$ | async) {
  <div class="loading">Loading...</div>
  } @if (error$ | async) {
  <div class="error">{{ error$ | async }}</div>
  } @if (!(loading$ | async) && !(error$ | async)) { @if (posts$ | async; as
  posts) { @for (post of posts | paginate: { itemsPerPage: 10, currentPage: p };
  track post.id) {
  <div [routerLink]="['/posts', post.id]">
    <app-post-card [postId]="post.id" />
  </div>
  }

  <div class="controls">
    <pagination-controls (pageChange)="p = $event" />
  </div>
  } }
</div>
