<div
  class="overlay"
  [style]="{ display: modalService.isOpened ? 'block' : 'none' }"
  (click)="modalService.closeModal()"
></div>

<div
  class="form-modal"
  [style]="{ display: modalService.isOpened ? 'block' : 'none' }"
>
  <div class="top">
    <h1>{{ post ? "Edit Post" : "Create Post" }}</h1>

    <button class="close" (click)="modalService.closeModal()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        style="fill: rgba(107, 102, 114, 1)"
      >
        <path
          d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
        ></path>
      </svg>
    </button>
  </div>

  <form [formGroup]="postForm" (ngSubmit)="handleSubmit()">
    <input
      type="text"
      placeholder="Title"
      formControlName="title"
      [value]="post ? post.title : ''"
    />
    <textarea
      rows="6"
      cols="60"
      placeholder="Create post..."
      formControlName="body"
      [value]="post ? post.body : ''"
    ></textarea>
    <button class="submit" type="submit" [disabled]="!post && postForm.invalid">
      {{ post ? "Update Post" : "Post" }}
    </button>
  </form>
</div>
