// Colors
$bg-color: #FAFBFF
$purple-accent: #627CFF
$text-main: #190F27
$text-secondary: #6B6672
$gray-light: #F5F5F5
$red: #FF6464
$purple-hover: rgba(98, 124, 255, 0.75)

// Font
$font-stack: 16px "Rubik", sans-serif

$round-border: 999px
$card-border: 8px